<h2>マイページ</h2>
<%= @user.name %>
<%= link_to"#{@user.name}のお気に入り一覧" ,likes_user_path(@user) %>

名前 : <h2><%= @user.name %></h2>

<h1>投稿一覧</h1>

<% @user.posts.each do |post| %>
<div>
<h1>
タイトル : <%= post.title %>
</h1><span><%= link_to "削除", destroy_post_path(post), method: :delete %></span>
</div>

<% end %>

